
<br>
<br>
<footer class="text-muted bg-dark absolute-bottom pb-3">
  <div class="container">


    <div class="bg-dark">
    <div class="container">
      <div class="row">

            <section class="jumbotron text-center bg-transparent text-light">
              <div class="container bg-transparent darker">
                <h1>Anime BUFF</h1>
                <p class="lead"> <b>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</b></p>

                <p>
                  <a href="{% url 'admin:index' %}" class="btn btn-secondary my-2" target="_blank">Go to The Admin Page</a>
                  <a href="#" class="btn btn-secondary my-2">Go to the Blog Page</a><br >
                  <a href="#" class="btn btn-primary my-2">Mail Us</a>
                </p>
              </div>
            </section>



            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">CONTENT</h4>
              <ul class="list-unstyled">
                <li><a href="https://kissanime.ru/" class="text-white" target="_blank">kissanime</a></li>
                <li><a href="https://animekayo.com/" class="text-white" target="_blank">animekayo</a></li>
                <li><a href="https://animekaizoku.com/" class="text-white" target="_blank">animekaizoku</a></li>
              </ul>
            </div>


      </div>
    </div>
    </div>
    <p>Debasish Nandi &copy; {% now "Y" %} </p>
  </div>
</footer>
