{% load static %}
<br>
<br>
<footer id="FOOTERBAR" class="text-muted bg-dark absolute-bottom pb-3">
  <div class="container">


    <div class="bg-dark">
    <div class="container">
      <div class="row">

            <section class="jumbotron text-center bg-transparent text-light">
              <div class="container bg-transparent darker">
                <h1>Anime BUFF</h1>
                <p class="lead">
                  <b>An Anime video playing WebApp that uses the Content inside the HDD as Assets. This was initially made by the developer for personal use .
                  <br>Debasish Nandi { aka. Kirito_Cyan_Pine } was quite intrested to make an Anime Streaming website. But the Lack of Internet connectivity lead Him to make this Baby.
                  <br><br><i>"Coding and Anime has a Big Impact in my LIFE. So, I decided to MERGE them TOGETHER... &emsp; ψ(｀∇´)ψ "</i>
                </b></p>

                <p>
                  <a href="{% url 'admin:index' %}" class="btn btn-secondary my-2 mx-2" target="_blank">Go to The Admin Page</a>
                  <a href="mailto:debasishfairytailkissanime@gamil.com?subject=AnimeBUFF Querries" class="btn btn-primary my-2 px-5 mx-2">Mail Us</a>
                </p>
              </div>
              <div class="">
                <a href="{% static 'registeringAnime.pdf' %}" class="btn btn-warning text-Light mt-3" target="_blank">Anime Registraion PDF Link</a>
              </div>
            </section>



            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white"><u>CONTENT_________</u></h4>
              <br>
              <ul class="list-unstyled">
                <li><a href=" https://www.youtube.com/channel/UCSJlqeK5Zx9zNq2aCWHY83Q " class="text-white col-sm-5 my-5 " target="_blank"> Anim3Recon &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCuGDPyVYuAGFmaawTL4uvuA " class="text-white col-sm-5 my-5 " target="_blank"> Anime Sensei &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCTZcrNlQcNKYOOMG2Sy8FTg " class="text-white col-sm-5 my-5 " target="_blank"> The Night wolf &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCBBU7zUOhR_qShfMV26UUCA " class="text-white col-sm-5 my-5 " target="_blank"> Nux Taku &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCTpW7XU2kiIE3jzqG_PgQ2Q " class="text-white col-sm-5 my-5 " target="_blank"> SenpieX &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UC7jewCRguPiazJL1iXn3tWQ " class="text-white col-sm-5 my-5 " target="_blank"> The Anime Lord &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCUf_ekwkBOGUqlnolmZa5Ew " class="text-white col-sm-5 my-5 " target="_blank"> Kirito Sensei &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCnTB8uNxND40iwvPiyzpnWw " class="text-white col-sm-5 my-5 " target="_blank"> heiakim  &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCBRmwsBDr6EDin0O5PQNy0Q " class="text-white col-sm-5 my-5 " target="_blank"> KHORnime &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCHSgLWyRrkRppwvogN27mEQ " class="text-white col-sm-5 my-5 " target="_blank"> AniTube &emsp; </a></li>
                <li><a href=" https://www.youtube.com/channel/UCuBtG0mVPQArouCH5PwskuA " class="text-white col-sm-5 my-5 " target="_blank"> BlueTi Anime &emsp; </a></li>
              </ul>
            </div>



      </div>
    </div>
    </div>
    <p>Debasish Nandi , Kirito_Cyan_Pine &copy; {% now "Y" %} </p>
  </div>
</footer>


  <!--script type="text/javascript">
  document.onkeydown = function() {
    var executed = false;
      if(event.keyCode === 122) {
        if (executed){
          event.preventDefault();
        }
        else {}

      }
  };
  </script-->
