{% load static %}


<header>

<div class="navbar navbar-light bg-light shadow-sm ">
<div class="container d-flex justify-content-between">
  <a href="{% url 'main' %}" class="navbar-brand d-flex align-items-center pl-5">
    <img src="{% static 'animeBUFF_logo.png' %}"  width="180" class="img-fluid">
  </a>

  <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="icon-search text-dark">search</i></button>
  </form>

</div>
</div>
</header>
