{% load static %}


<header>

<div class="navbar navbar-light bg-light shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="{% url 'start' %}" class="navbar-brand d-flex align-items-center pl-5">
      <img src="{% static 'animeBUFF_logo.png' %}"  width="180" class="img-fluid">
    </a>

    <form class="form-inline mt-2 mt-md-0" methord="get" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" id="search">

        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="icon-search text-dark">search</i></button>


    </form>
  </div>
  <br>
  <div class="col-sm-10 mx-auto">
    <div class="container d-flex justify-content-between row">

      <a href="{% url 'start' %}" class=" justify-content-center btn btn-light border-right" style="width:20%;">
        Home
      </a>

      <a href="{% url 'main' %}" class=" justify-content-center btn btn-light border-right  border-left" style="width:20%;">
        Anime List
      </a>

      <a href="{% url 'randomise' %}" class=" justify-content-center  btn btn-light border-right border-left" style="width:20%;">
        Select Random
      </a>

      <a class=" justify-content-center  btn btn-light border-right border-left" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" style="width:20%;">
        Advanced search <svg class="bi bi-chevron-compact-down" width="0.5em" height="1em" viewBox="0 0 16 16" fill="blue" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
      </a>

      <a href="http://localhost:8000/admin/animetitles/animetitle/" class=" justify-content-center btn btn-light border-left" style="width:20%;">
        Register
      </a>

    </div>
  </div>
</div>

<div class=" bg-dark collapse" id="navbarHeader"> <!--collapse here-->
    <div class="">
      <div class="album bg-transparent darker py-3" style="margin: 0 auto" height="200">
        <div class="text-left mx-5">
            <h5  class="text-light"><b>S</b>earch by <b>G</b>enres</h5><br>
        </div>
        <form class="form-inline container" methord="get" action="{% url 'searchGenre' %}">
            <input class="form-control col-9 mx-5 px-3" type="text" placeholder="Type in the Genres : like Action , Comedy , Adventure , Horror , Romantic ... " aria-label="Search" name="querry1" id="querry1">
            <br>
            <button class="btn btn-outline-light my-sm-0 bg-primary float-bottom text-light px-5" type="submit">search</button>
        </form>

      </div>
    </div>
  </div>
</header>




<div class="fixed-bottom mb-3 ml-2 col-1">
  <a href="#"><img class="img-fluid" src="{% static '53738-200.png'%}" alt="" width="60"></a>
</div>
