<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.min.css" />
    <title></title>
  </head>

  <body>

    <!--   BODY TAG STARTS AND ENDS IN THE SIMILAR LOOKING TAG  ________________________________________________________________________-->



<!--

      <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8">
                <video id="video_player" width="728" height="410" autoplay controls="true" preload="0">

                      <source src="{{video}}" type="video/mp4">
                      <source src="{{video}}" type="video/x-matroska;">
                      <source src="{{video}}" type='video/x-matroska; codecs="theora, vorbis"'>
                      <source src="{{video}}" type="video/ogg">
                      <source src="{{video}}" type="video/mkv">
                      <source src="{{video}}" type='video/mp4; codecs="hvc1"'>
                      <source src="{{video}}" type="video/webm">
                      <source src="{{video}}" type='video/mp4; codecs="avc1"'>
                </video>
            </div>
        </div>
      </div>                                                                    -->



      <video id="player" playsinline controls data-poster="/path/to/poster.jpg">

                              <source src="{{video}}" type="video/mp4">
                              <source src="{{video}}" type="video/x-matroska;">
                              <source src="{{video}}" type='video/x-matroska; codecs="theora, vorbis"'>
                              <source src="{{video}}" type="video/ogg">
                              <source src="{{video}}" type="video/mkv">
                              <source src="{{video}}" type='video/mp4; codecs="hvc1"'>
                              <source src="{{video}}" type="video/webm">
                              <source src="{{video}}" type='video/mp4; codecs="avc1"'>


</video>


      <button id="togglePipButton">Toggle Picture-in-Picture Mode!</button>






      <!--   BODY TAG ENDS IN THIS TAG ___________________________________________________________________________________________________ -->


      <script src="https://cdn.plyr.io/3.5.6/plyr.min.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', () => {
                const player = Plyr.setup('.js-player');
            });
        </script>

  </body>
</html>
