<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="plyr\src\js\plyr.js"></script>
    <link rel="stylesheet" href="plyr\src\sass\base.scss" />
    <title></title>
  </head>

  <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player = Plyr.setup('.js-player');
    });
</script>

  <body style="background-image: url({% static 'Anime Buff titlepick _ OPTION 2-BLUR.jpg'%});height = 100%;background-attachment: fixed;">

    <video id="plyr-video" playsinline width="1000" height="562" controls>
      <source src="{{video}}" type="video/x-matroska;">
      <source src="{{video}}" type='video/x-matroska; codecs="theora, vorbis"'>
      <source src="{{video}}" type="video/mp4">
      <source src="{{video}}" type="video/ogg">
      <source src="{{video}}" type="video/mkv">

    Your browser does not support the video tag.
    </video>


    <script src="plyr\src\js\plyr.js"></script>
    <link rel="stylesheet" href="plyr\src\sass\plyr.scss" />
  </body>
</html>
